<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuecms.modules.tool.mapper.EmailConfigMapper">
    
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xuecms.modules.tool.domain.EmailConfig" id="emailConfigMap">
    	<result property="id" column="config_id"/>
    	<result property="fromUser" column="from_user"/>
    	<result property="host" column="host"/>
    	<result property="pass" column="pass"/>
    	<result property="port" column="port"/>
    	<result property="user" column="user"/>
    	
    </resultMap>

</mapper>