<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuecms.modules.system.mapper.DeptMapper">
    
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xuecms.modules.system.domain.Dept" id="deptMap">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="subCount" column="sub_count"/>
        <result property="name" column="name"/>
        
        <result property="deptSort" column="dept_sort"/>
        <result property="enabled" column="enabled"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    
    
    <update id="updateSubCntById" parameterType="com.xuecms.modules.system.domain.Dept">
    	update sys_dept set sub_count = #{count} where id = #{id}
    	
	</update>
    
    <select id="findByRoleId" resultMap="deptMap" >
        SELECT d.* FROM sys_roles_depts r, sys_dept d WHERE r.dept_id = d.id AND r.role_id = #{roleId}
        
    </select>
    
    <select id="findByPid" parameterType="Long" resultMap="deptMap" >
        SELECT d.* FROM sys_dept d WHERE d.pid = #{id}
        
    </select>
    
    <select id="countByPid" parameterType="Long" resultType="Integer" >
		SELECT count(d.id) FROM sys_dept d WHERE d.pid = #{pid}
        
    </select>
    
    <select id="countByDepts" parameterType="java.util.List" resultType="Integer" >
        SELECT count(1) FROM sys_user u WHERE u.dept_id IN 
        <foreach collection="list" item="deptId" index="index" open="(" close=")" separator=",">
		  #{deptId}
		</foreach>
        
    </select>
    
    <select id="findByDeptRoleId" parameterType="Long" resultType="com.xuecms.modules.system.domain.User" >
        SELECT u.* FROM sys_user u, sys_users_roles r, sys_roles_depts d 
        WHERE u.user_id = r.user_id AND r.role_id = d.role_id AND r.role_id = #{id} group by u.user_id
        
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List">
    	insert into sys_roles_depts (role_id, dept_id)
                values
                <foreach collection="list" item="item" index="index" separator=",">
                    (
                        #{item.roleId}, #{item.deptId}
                    )
                 </foreach>
  	</insert>
  	
  	
	<delete id="untiedDeptByRoleId" >
    	delete from sys_roles_depts where role_id = #{roleId}
  	</delete>
    

</mapper>