<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuecms.modules.system.mapper.DictDetailMapper">
    
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xuecms.modules.system.domain.DictDetail" id="dictDetailMap">
        <result property="id" column="detail_id"/>
        <result property="dictId" column="dict_id"/>
        
        <result property="label" column="label"/>
        <result property="value" column="value"/>
        <result property="dictSort" column="dict_sort"/>
    </resultMap>
    
    
    <select id="findByDictId" parameterType="Long" resultMap="dictDetailMap" >
        SELECT d.* FROM sys_dict_detail d WHERE d.dict_id = #{dictId}
        
    </select>
    
    <select id="findByDictName" parameterType="java.lang.String" resultMap="dictDetailMap" >
        SELECT dd.* FROM sys_dict_detail dd, sys_dict d WHERE dd.dict_id = d.dict_id AND d.name = #{name}
    </select>
    
    <select id="findByPage" resultMap="dictDetailMap">
		SELECT dd.* FROM sys_dict d, sys_dict_detail dd WHERE d.dict_id = dd.dict_id 
		
		<if test="criteria.dictName != null and criteria.dictName != ''">
            AND d.name = #{criteria.dictName}
        </if>
		
		<if test="criteria.label != null and criteria.label != ''">
            AND dd.label like concat('%', #{criteria.label}, '%')
        </if>
		
    </select>
    
    
</mapper>