<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuecms.modules.system.mapper.MenuMapper">
    
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xuecms.modules.system.domain.Menu" id="menuMap">
        <result property="id" column="menu_id"/>
        <result property="pid" column="pid"/>
        <result property="subCount" column="sub_count"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        
        <result property="componentName" column="name"/>
        <result property="component" column="component"/>
        <result property="menuSort" column="menu_sort"/>
        <result property="icon" column="icon"/>
        <result property="path" column="path"/>
        
        <result property="iFrame" column="i_frame"/>
        <result property="cache" column="cache"/>
        <result property="hidden" column="hidden"/>
        <result property="permission" column="permission"/>
        
    </resultMap>
    
    <update id="updateSubCntById" parameterType="com.xuecms.modules.system.domain.Menu">
    	update sys_menu set sub_count = #{count} where menu_id = #{menuId}
    	
	</update>
    
    <select id="findByPidIsNull" resultMap="menuMap" >
        SELECT m.* FROM sys_menu m WHERE m.pid is null
        
    </select>
    
    <select id="findByPid" parameterType="Long" resultMap="menuMap" >
        SELECT m.* FROM sys_menu m WHERE m.pid = #{pid}
        
    </select>
    
    <select id="findByRoleIdsAndTypeNot" resultMap="menuMap" >
        SELECT m.* FROM sys_menu m, sys_roles_menus r WHERE m.menu_id = r.menu_id AND r.role_id IN 
        <foreach collection="roleIds" item="roleId" index="index" open="(" close=")" separator=",">
		  #{roleId}
		</foreach>
		AND type != #{type} order by m.menu_sort asc
        
    </select>
    
    <select id="findByRoleId" resultMap="menuMap" >
        SELECT m.* FROM sys_roles_menus r, sys_menu m WHERE r.menu_id = m.menu_id AND r.role_id = #{roleId}
        
    </select>
    
    
    <select id="countByPid" parameterType="Long" resultType="Integer" >
        SELECT count(m.menu_id) FROM sys_menu m WHERE m.pid = #{id}
        
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List">
    	insert into sys_roles_menus (role_id, menu_id)
                values
                <foreach collection="list" item="item" index="index" separator=",">
                    (
                        #{item.roleId}, #{item.menuId}
                    )
                 </foreach>
  	</insert>
  	
	<delete id="untiedMenuByRoleId" >
    	delete from sys_roles_menus where role_id = #{roleId}
  	</delete>
  	
</mapper>