<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuecms.modules.system.mapper.RoleMapper">
    
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xuecms.modules.system.domain.Role" id="roleMap">
        <result property="id" column="role_id"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="description" column="description"/>
        
        <result property="dataScope" column="data_scope"/>
    </resultMap>
    
    
    <insert id="insertBatch" parameterType="java.util.List">
    	insert into sys_users_roles (user_id, role_id)
                values
                <foreach collection="list" item="item" index="index" separator=",">
                    (
                        #{item.userId}, #{item.roleId}
                    )
                 </foreach>
  	</insert>
    
    <!-- 查询用户角色集合 -->
    <select id="findByUserId" parameterType="Long" resultMap="roleMap" >
        SELECT r.* FROM sys_role r, sys_users_roles u WHERE r.role_id = u.role_id AND u.user_id = #{userId}
        
    </select>
    
    
    <select id="findInMenuId" parameterType="java.util.List" resultType="com.xuecms.modules.system.domain.Role" >
        SELECT r.* FROM sys_role r, sys_roles_menus m WHERE r.role_id = m.role_id AND m.menu_id in 
        <foreach collection="list" item="menuId" index="index" open="(" close=")" separator=",">
		  #{menuId}
		</foreach>
    </select>
    
	<delete id="untiedMenu" >
    	delete from sys_roles_menus where role_id = #{id}
  	</delete>
  	
  	
	<delete id="untiedRole" >
    	delete from sys_users_roles where 
    	user_id in 
        <foreach collection="list" item="userId" index="index" open="(" close=")" separator=",">
		  #{userId}
		</foreach>
  	</delete>

</mapper>